@import "variables";
@import "~slick-carousel/slick/slick";
// @import "~slick-carousel/slick/slick-theme";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

body {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  color: #5a5a5a;
}

.bg-orange-transparent {
  background-color: #f76b38d9 !important;
}

.bg-orange {
  background-color: #f76b38;
}

.project-category {
  font-size: 1.67em;
}

.text-muted-orange {
  color: #f88156 !important;
}

.navbar {
  transition: background-color .4s ease-in-out;
}

.link {
  color: #5a5a5a;
}

.back-to-top {
  .button {
    display: none;

    .button-animation {
      transition: all .1s ease-in;
    }
  }
}

.featurette {
  padding: 5rem 0;
}

.featurette-bottom {
  padding-bottom: 5rem;
}

.list-group-hover > .list-group-item:hover {
  background-color: #f3f2f2;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: .85;
}

.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: #f76b38;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.maps, .video {
  border: none;
  width: 100%;
  height: 500px;
}

.galery-carousel {
  .gelary-carousel-box > img {
    width: 100%;
    height: 300px;
  }
}

.img-logo {
  width: 100%;
  margin-top: 20px;
}

.slick-initialized {
  .slick-arrow {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 50%;
    margin-top: -23px;
    border: none;
    padding: 0;
    background-color: transparent;
    text-indent: 100%;
    width: 0;
    height: 0;
    white-space: nowrap;
  }

  .slick-arrow.slick-prev {
    left: 0;
    border-top: 20px solid transparent;
    border-right: 30px solid #ffffff;
    border-bottom: 20px solid transparent;
    margin-left: 15px;
  }

  .slick-arrow.slick-next {
    right: 0;
    border-top: 20px solid transparent;
    border-left: 30px solid #ffffff;
    border-bottom: 20px solid transparent;
    margin-right: 15px;
  }
}

@media (min-width: 40em) {
  .portfolio > .portfolio-box:first-child {
    margin-bottom: 5px;
  }

  .img-logo {
    width: 85vh;
    margin: 40px;
  }
  
  .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    margin: 0;

    .button-show {
      opacity: 1 !important;
      display: block !important;
    }

    .button {
      display: none;
      padding: 6px 12px;
      color: #f4f5f5;
      opacity: 0;
    }

    .link {
      display: none;
    }
  }
}
